spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 50MB
springdoc:
  default-produces-media-type: application/json


server:
  servlet:
    context-path: /api/v1/
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web.access.intercept.FilterSecurityInterceptor: DEBUG
